[submodule "quote-bot-reborn"]
	path = quote-bot-reborn
	url = https://github.com/BazVed-Ltd/quote-bot-reborn
[submodule "quote-site-reborn"]
	path = quote-site-reborn
	url = https://github.com/BazVed-Ltd/quote-site-reborn
[submodule "quote-site-frontend"]
	path = quote-site-frontend
	url = https://github.com/BazVed-Ltd/quote-site-frontend.git
